body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #FAFAFA;
}

.nav-reply{
    display: flex;
    justify-content: center;
}

.reply-header{
    padding-left: 10%;
    margin-top: 20px;
}

.response{
    padding-left: 10px;
    color: #00BCD4;
}


.reply-sample{
    height: 60px;
    width: 80%;
    background-color: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-color: #FAFAFA;
    display: block;
    padding-left: 20px;
    padding-top: 12px;
}

.reply-sample-template{
    display: block;
    width: 80%;
    background-color: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-color: #FAFAFA;
    min-height: 170px;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.reply-footer{
    padding-left: 10px;
}
